<p style="font-size: 16px; font-weight: 700; line-height: 24px; text-align: center; color: #43404A;">
  You've received a bid for your item <span style="color: #FF2D55;">{{ metadata.nftName }}</span>.
</p>
<table
  style="width: 100%; max-width: 600px; margin: 40px auto 20px; border-spacing: 0; text-align: center;">
  <tr>
    <th style="width: 33%; ;color: #43404A; font-size: 16px; font-weight: 700; line-height: 24px;">Item</th>
    <th style="width: 33%; ;color: #43404A; font-size: 16px; font-weight: 700; line-height: 24px;">Bid</th>
  <tr>
    <td style="padding: 10px;"><img src="{{ metadata.image }}" alt="{{ metadata.nftName }}"
        style="display: block; margin: 0 auto; width: 24px; height: 24px;" /></td>
    <td style="padding: 10px;"><img src="http://cdn.mcauto-images-production.sendgrid.net/2322095804444b83/d3fad3d4-34a0-43af-8660-359966d5d71c/33x32.png" alt="Price Icon"
        style="display: block; margin: 0 auto; width: 24px; height: 24px;" /></td>
  </tr>
  <tr>
    <td style="padding: 10px; font-size: 18px; font-weight: bold; color: #000;">{{ metadata.nftName }}</td>
    <td style="padding: 10px; font-size: 18px; font-weight: bold; color: #000;">{{ formatMana metadata.price }}</td>
  </tr>
</table>